/* style.css */
/* Definición del color verde principal */
:root {
    --verde-principal: #28a745; /* Tono de verde principal */
  }
  
  /* Navbar personalizado */
  .custom-green {
    background-color: var(--verde-principal) !important;
  }
  
  /* Botón personalizado */
  .custom-green-btn {
    background-color: var(--verde-principal);
    border-color: var(--verde-principal);
    color: #fff;
  }
  
  .custom-green-btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
  }
  
  /* Fuente y ajustes generales */
  body {
    font-family: Arial, sans-serif;
  }

  footer {
    margin-bottom: -16px;
  }
  